In [1]:
# import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [3]:

# üîπ 1. Define your folder path (use raw string to avoid Windows escape errors)
csv_dir = r"C:\Users\Dell\OneDrive\Desktop\Project 1\2021"

# üîπ 2. Get all .csv files in the folder
csv_files = [file for file in os.listdir(csv_dir) if file.endswith(".csv")]
print(f"üóÇ Found {len(csv_files)} CSV files.")

# üîπ 3. Create a list to hold individual DataFrames
dataframes = []

# üîπ 4. Loop through files, read them, and append to the list
for file in csv_files:
    file_path = os.path.join(csv_dir, file)
    
    try:
        df = pd.read_csv(file_path)
        df['source_file'] = file  # Optional: Track which file each row came from
        dataframes.append(df)
        print(f"‚úÖ Loaded: {file}")
    except Exception as e:
        print(f"‚ö†Ô∏è Could not read {file}: {e}")

# üîπ 5. Concatenate all loaded DataFrames
if dataframes:
    merged_df = pd.concat(dataframes, ignore_index=True)
    print(f"‚úÖ Successfully merged {len(dataframes)} DataFrames.")
else:
    print("‚ùå No DataFrames loaded. Check file formats or folder path.")

# üîπ 6. (Optional) Preview and save the merged result
merged_df.head()  # Preview first 5 rows

# üîπ 7. Save to disk
output_path = os.path.join(csv_dir, "2021_merged_freight_data.csv")
merged_df.to_csv(output_path, index=False)
print(f"üìÅ Merged CSV saved to: {output_path}")

üóÇ Found 75 CSV files.
‚úÖ Loaded: dot1_0121.csv
‚úÖ Loaded: dot1_0221.csv
‚úÖ Loaded: dot1_0321.csv
‚úÖ Loaded: dot1_0421.csv
‚úÖ Loaded: dot1_0521.csv
‚úÖ Loaded: dot1_0621.csv
‚úÖ Loaded: dot1_0721.csv
‚úÖ Loaded: dot1_0821.csv
‚úÖ Loaded: dot1_0921.csv
‚úÖ Loaded: dot1_1021.csv
‚úÖ Loaded: dot1_1121.csv
‚úÖ Loaded: dot1_1221.csv
‚úÖ Loaded: dot1_2021.csv
‚úÖ Loaded: dot1_ytd_0121.csv
‚úÖ Loaded: dot1_ytd_0221.csv
‚úÖ Loaded: dot1_ytd_0321.csv
‚úÖ Loaded: dot1_ytd_0421.csv
‚úÖ Loaded: dot1_ytd_0521.csv
‚úÖ Loaded: dot1_ytd_0621.csv
‚úÖ Loaded: dot1_ytd_0721.csv
‚úÖ Loaded: dot1_ytd_0821.csv
‚úÖ Loaded: dot1_ytd_0921.csv
‚úÖ Loaded: dot1_ytd_1021.csv
‚úÖ Loaded: dot1_ytd_1121.csv
‚úÖ Loaded: dot1_ytd_1221.csv
‚úÖ Loaded: dot2_0121.csv
‚úÖ Loaded: dot2_0221.csv
‚úÖ Loaded: dot2_0321.csv
‚úÖ Loaded: dot2_0421.csv
‚úÖ Loaded: dot2_0521.csv
‚úÖ Loaded: dot2_0621.csv
‚úÖ Loaded: dot2_0721.csv
‚úÖ Loaded: dot2_0821.csv
‚úÖ Loaded: dot2_0921.csv
‚úÖ Loaded: dot2_1021.csv
‚úÖ Loaded: dot2_1121.csv
‚úÖ Loaded: dot2_1221.csv
‚úÖ Loaded: dot2_2021.csv
‚úÖ Loaded: dot2_ytd_0121.csv
‚úÖ Loaded: dot2_ytd_0221.csv
‚úÖ Loaded: dot2_ytd_0321.csv
‚úÖ Loaded: dot2_ytd_0421.csv
‚úÖ Loaded: dot2_ytd_0521.csv
‚úÖ Loaded: dot2_ytd_0621.csv
‚úÖ Loaded: dot2_ytd_0721.csv
‚úÖ Loaded: dot2_ytd_0821.csv
‚úÖ Loaded: dot2_ytd_0921.csv
‚úÖ Loaded: dot2_ytd_1021.csv
‚úÖ Loaded: dot2_ytd_1121.csv
‚úÖ Loaded: dot2_ytd_1221.csv
‚úÖ Loaded: dot3_0121.csv
‚úÖ Loaded: dot3_0221.csv
‚úÖ Loaded: dot3_0321.csv
‚úÖ Loaded: dot3_0421.csv
‚úÖ Loaded: dot3_0521.csv
‚úÖ Loaded: dot3_0621.csv
‚úÖ Loaded: dot3_0721.csv
‚úÖ Loaded: dot3_0821.csv
‚úÖ Loaded: dot3_0921.csv
‚úÖ Loaded: dot3_1021.csv
‚úÖ Loaded: dot3_1121.csv
‚úÖ Loaded: dot3_1221.csv
‚úÖ Loaded: dot3_2021.csv
‚úÖ Loaded: dot3_ytd_0121.csv
‚úÖ Loaded: dot3_ytd_0221.csv
‚úÖ Loaded: dot3_ytd_0321.csv
‚úÖ Loaded: dot3_ytd_0421.csv
‚úÖ Loaded: dot3_ytd_0521.csv
‚úÖ Loaded: dot3_ytd_0621.csv
‚úÖ Loaded: dot3_ytd_0721.csv
‚úÖ Loaded: dot3_ytd_0821.csv
‚úÖ Loaded: dot3_ytd_0921.csv
‚úÖ Loaded: dot3_ytd_1021.csv
‚úÖ Loaded: dot3_ytd_1121.csv
‚úÖ Loaded: dot3_ytd_1221.csv
‚úÖ Successfully merged 75 DataFrames.
üìÅ Merged CSV saved to: C:\Users\Dell\OneDrive\Desktop\Project 1\2021\2021_merged_freight_data.csv

In [5]:
# Use the same path you saved to
merged_path = r"C:\Users\Dell\OneDrive\Desktop\Project 1\2021\2021_merged_freight_data.csv"

# Load the CSV into a new DataFrame
TFDA_2021 = pd.read_csv(merged_path)

# Preview the first 5 rows
TFDA_2021.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,source_file,COMMODITY2
0,1,AK,18XX,1,XX,NaN,2010,5940,1136,0,1.0,1,1.0,2021,dot1_0121.csv,NaN
1,1,AK,20XX,3,NaN,XA,1220,7490,26,155,1.0,X,1.0,2021,dot1_0121.csv,NaN
2,1,AK,20XX,3,NaN,XA,1220,24885,13,78,2.0,X,1.0,2021,dot1_0121.csv,NaN
3,1,AK,20XX,3,NaN,XC,1220,16415,139,355,1.0,X,1.0,2021,dot1_0121.csv,NaN
4,1,AK,20XX,3,NaN,XC,1220,9025,5,35,2.0,X,1.0,2021,dot1_0121.csv,NaN

### Understanding the dataset

In [8]:
# Quick overview
TFDA_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10982798 entries, 0 to 10982797
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          int64
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         int64
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               float64
 11  CONTCODE         object
 12  MONTH            float64
 13  YEAR             int64
 14  source_file      object
 15  COMMODITY2       float64
dtypes: float64(3), int64(7), object(6)
memory usage: 1.3+ GB

In [10]:
# checking the shape of the dataset
TFDA_2021.shape

(10982798, 16)

In [12]:
# checking the various columns
TFDA_2021.columns

Index(['TRDTYPE', 'USASTATE', 'DEPE', 'DISAGMOT', 'MEXSTATE', 'CANPROV',
       'COUNTRY', 'VALUE', 'SHIPWT', 'FREIGHT_CHARGES', 'DF', 'CONTCODE',
       'MONTH', 'YEAR', 'source_file', 'COMMODITY2'],
      dtype='object')

### Data Cleaning

In [14]:
TFDA_2021['TRDTYPE'].unique()

array([1, 2], dtype=int64)

In [16]:
# Convert 'TRDTYPE' to categorical (optional but useful)
TFDA_2021['TRDTYPE'] = TFDA_2021['TRDTYPE'].astype('category')

In [18]:
# See the distribution of values in TRDTYPE
TFDA_2021['TRDTYPE'].value_counts(dropna=False)

TRDTYPE
1    7283728
2    3699070
Name: count, dtype: int64

In [20]:
# Fill categorical columns with placeholders
TFDA_2021['USASTATE'] = TFDA_2021['USASTATE'].fillna('UNKNOWN')
TFDA_2021['DEPE'] = TFDA_2021['DEPE'].fillna('0000')
TFDA_2021['MEXSTATE'] = TFDA_2021['MEXSTATE'].fillna('OT')         # 'OT' = State Unknown
TFDA_2021['CANPROV'] = TFDA_2021['CANPROV'].fillna('OT')           # 'OT' = Province Unknown

In [52]:
# Isolate all TRDTYPE == 2 rows (protect them)
trdtype_2_rows = TFDA_2021[TFDA_2021['TRDTYPE'] == 2]

# Clean the rest of the dataset (excluding TRDTYPE == 2)
other_rows = TFDA_2021[TFDA_2021['TRDTYPE'] != 2]
cleaned_other_rows = other_rows.dropna(subset=['DEPE', 'COMMODITY2', 'DF'])

# Combine cleaned rows and protected TRDTYPE==2 rows
TFDA_2021_cleaned = pd.concat([cleaned_other_rows, trdtype_2_rows], ignore_index=True)

# Reset index
TFDA_2021_cleaned.reset_index(drop=True, inplace=True)

# Confirm TRDTYPE distribution
print(TFDA_2021_cleaned['TRDTYPE'].value_counts(dropna=False))

# reassign to main variable
TFDA_2021 = TFDA_2021_cleaned

TRDTYPE
1    5601122
2    3620719
Name: count, dtype: int64

In [30]:
# Fill numeric columns with zeros or neutral values
TFDA_2021['DF'] = TFDA_2021['DF'].fillna(0).astype(int)
TFDA_2021['COMMODITY2'] = TFDA_2021['COMMODITY2'].fillna(99).astype(int)

In [34]:
TFDA_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9428572 entries, 0 to 9428571
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          category
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         int64
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               int32
 11  CONTCODE         object
 12  MONTH            float64
 13  YEAR             int64
 14  source_file      object
 15  COMMODITY2       int32
dtypes: category(1), float64(1), int32(2), int64(6), object(6)
memory usage: 1016.1+ MB

In [36]:
TFDA_2021.duplicated().sum()

0

In [38]:
# checking again for NaNs to be sure they have been worked on
TFDA_2021.isnull().sum()

TRDTYPE                 0
USASTATE                0
DEPE                    0
DISAGMOT                0
MEXSTATE                0
CANPROV                 0
COUNTRY                 0
VALUE                   0
SHIPWT                  0
FREIGHT_CHARGES         0
DF                      0
CONTCODE                0
MONTH              206731
YEAR                    0
source_file             0
COMMODITY2              0
dtype: int64

In [40]:
# For example: keep rows where DEPE, COMMODITY2, and DF are not null
TFDA_2021.dropna(subset=['DEPE', 'COMMODITY2', 'DF', 'MONTH'], inplace=True)

In [44]:
# Summary statistics
TFDA_2021.describe()

,DISAGMOT,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,MONTH,YEAR,COMMODITY2
count,9.221841e+06,9.221841e+06,9.221841e+06,9.221841e+06,9.221841e+06,9.221841e+06,9.221841e+06,9221841.0,9.221841e+06
mean,4.735469e+00,1.522225e+03,2.686561e+06,1.334779e+06,3.741601e+04,8.088051e-01,4.954855e+00,2021.0,6.079244e+01
std,1.216247e+00,3.839503e+02,3.243634e+07,4.033402e+07,9.410619e+05,7.466581e-01,3.054144e+00,0.0,2.933959e+01
min,1.000000e+00,1.220000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2021.0,1.000000e+00
25%,5.000000e+00,1.220000e+03,1.351600e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,2021.0,3.500000e+01
50%,5.000000e+00,1.220000e+03,6.689000e+04,0.000000e+00,2.630000e+02,1.000000e+00,4.000000e+00,2021.0,6.800000e+01
75%,5.000000e+00,2.010000e+03,3.992240e+05,6.252000e+03,2.900000e+03,1.000000e+00,7.000000e+00,2021.0,8.700000e+01
max,9.000000e+00,2.010000e+03,3.921320e+09,8.450848e+09,2.093247e+08,2.000000e+00,1.200000e+01,2021.0,9.900000e+01

In [46]:
TFDA_2021.dtypes

TRDTYPE            category
USASTATE             object
DEPE                 object
DISAGMOT              int64
MEXSTATE             object
CANPROV              object
COUNTRY               int64
VALUE                 int64
SHIPWT                int64
FREIGHT_CHARGES       int64
DF                    int32
CONTCODE             object
MONTH               float64
YEAR                  int64
source_file          object
COMMODITY2            int32
dtype: object

In [48]:
TFDA_2021.shape

(9221841, 16)

In [50]:
TFDA_2021.to_csv("TFDA_2021_cleaned.csv", index=False, encoding='utf-8-sig')