In [1]:
# import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [3]:
# üîπ 1. Define your folder path (use raw string to avoid Windows escape errors)
csv_dir = r"C:\Users\Dell\OneDrive\Desktop\Project 1\2022"

# üîπ 2. Get all .csv files in the folder
csv_files = [file for file in os.listdir(csv_dir) if file.endswith(".csv")]
print(f"üóÇ Found {len(csv_files)} CSV files.")

# üîπ 3. Create a list to hold individual DataFrames
dataframes = []

# üîπ 4. Loop through files, read them, and append to the list
for file in csv_files:
    file_path = os.path.join(csv_dir, file)
    
    try:
        df = pd.read_csv(file_path)
        df['source_file'] = file  # Optional: Track which file each row came from
        dataframes.append(df)
        print(f"‚úÖ Loaded: {file}")
    except Exception as e:
        print(f"‚ö†Ô∏è Could not read {file}: {e}")

# üîπ 5. Concatenate all loaded DataFrames
if dataframes:
    merged_df = pd.concat(dataframes, ignore_index=True)
    print(f"‚úÖ Successfully merged {len(dataframes)} DataFrames.")
else:
    print("‚ùå No DataFrames loaded. Check file formats or folder path.")

# üîπ 6. (Optional) Preview and save the merged result
merged_df.head()  # Preview first 5 rows

# üîπ 7. Save to disk
output_path = os.path.join(csv_dir, "2022_merged_freight_data.csv")
merged_df.to_csv(output_path, index=False)
print(f"üìÅ Merged CSV saved to: {output_path}")

üóÇ Found 73 CSV files.
‚úÖ Loaded: dot1_0122.csv
‚úÖ Loaded: dot1_0222.csv
‚úÖ Loaded: dot1_0322.csv
‚úÖ Loaded: dot1_0422.csv
‚úÖ Loaded: dot1_0522.csv
‚úÖ Loaded: dot1_0622.csv
‚úÖ Loaded: dot1_0722.csv
‚úÖ Loaded: dot1_0822.csv
‚úÖ Loaded: dot1_0922.csv
‚úÖ Loaded: dot1_1022.csv
‚úÖ Loaded: dot1_1122.csv
‚úÖ Loaded: dot1_1222.csv
‚úÖ Loaded: dot1_2022.csv
‚úÖ Loaded: dot1_ytd_0122.csv
‚úÖ Loaded: dot1_ytd_0222.csv
‚úÖ Loaded: dot1_ytd_0322.csv
‚úÖ Loaded: dot1_ytd_0422.csv
‚úÖ Loaded: dot1_ytd_0522.csv
‚úÖ Loaded: dot1_ytd_0622.csv
‚úÖ Loaded: dot1_ytd_0722.csv
‚úÖ Loaded: dot1_ytd_0822.csv
‚úÖ Loaded: dot1_ytd_0922.csv
‚úÖ Loaded: dot1_ytd_1022.csv
‚úÖ Loaded: dot1_ytd_1122.csv
‚úÖ Loaded: dot1_ytd_1222.csv
‚úÖ Loaded: dot2_0122.csv
‚úÖ Loaded: dot2_0222.csv
‚úÖ Loaded: dot2_0322.csv
‚úÖ Loaded: dot2_0422.csv
‚úÖ Loaded: dot2_0522.csv
‚úÖ Loaded: dot2_0622.csv
‚úÖ Loaded: dot2_0722.csv
‚úÖ Loaded: dot2_0822.csv
‚úÖ Loaded: dot2_0922.csv
‚úÖ Loaded: dot2_1022.csv
‚úÖ Loaded: dot2_1122.csv
‚úÖ Loaded: dot2_1222.csv
‚úÖ Loaded: dot2_2022.csv
‚úÖ Loaded: dot2_ytd_0122.csv
‚úÖ Loaded: dot2_ytd_0222.csv
‚úÖ Loaded: dot2_ytd_0322.csv
‚úÖ Loaded: dot2_ytd_0622.csv
‚úÖ Loaded: dot2_ytd_0722.csv
‚úÖ Loaded: dot2_ytd_0822.csv
‚úÖ Loaded: dot2_ytd_0922.csv
‚úÖ Loaded: dot2_ytd_1022.csv
‚úÖ Loaded: dot2_ytd_1122.csv
‚úÖ Loaded: dot2_ytd_1222.csv
‚úÖ Loaded: dot3_0122.csv
‚úÖ Loaded: dot3_0222.csv
‚úÖ Loaded: dot3_0322.csv
‚úÖ Loaded: dot3_0422.csv
‚úÖ Loaded: dot3_0522.csv
‚úÖ Loaded: dot3_0622.csv
‚úÖ Loaded: dot3_0722.csv
‚úÖ Loaded: dot3_0822.csv
‚úÖ Loaded: dot3_0922.csv
‚úÖ Loaded: dot3_1022.csv
‚úÖ Loaded: dot3_1122.csv
‚úÖ Loaded: dot3_1222.csv
‚úÖ Loaded: dot3_2022.csv
‚úÖ Loaded: dot3_ytd_0122.csv
‚úÖ Loaded: dot3_ytd_0222.csv
‚úÖ Loaded: dot3_ytd_0322.csv
‚úÖ Loaded: dot3_ytd_0422.csv
‚úÖ Loaded: dot3_ytd_0522.csv
‚úÖ Loaded: dot3_ytd_0622.csv
‚úÖ Loaded: dot3_ytd_0722.csv
‚úÖ Loaded: dot3_ytd_0822.csv
‚úÖ Loaded: dot3_ytd_0922.csv
‚úÖ Loaded: dot3_ytd_1022.csv
‚úÖ Loaded: dot3_ytd_1122.csv
‚úÖ Loaded: dot3_ytd_1222.csv
‚úÖ Successfully merged 73 DataFrames.
üìÅ Merged CSV saved to: C:\Users\Dell\OneDrive\Desktop\Project 1\2022\2022_merged_freight_data.csv

In [7]:
# Use the same path you saved to
merged_path = r"C:\Users\Dell\OneDrive\Desktop\Project 1\2022\2022_merged_freight_data.csv"

# Load the CSV into a new DataFrame
TFDA_2022 = pd.read_csv(merged_path)

# Preview the first 5 rows
TFDA_2022.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,source_file,COMMODITY2
0,1,AK,0901,5,NaN,XO,1220,7042,0,137,1.0,X,1.0,2022.0,dot1_0122.csv,NaN
1,1,AK,20XX,3,NaN,XA,1220,117977,485,2181,1.0,X,1.0,2022.0,dot1_0122.csv,NaN
2,1,AK,20XX,3,NaN,XC,1220,105057,22924,8899,1.0,X,1.0,2022.0,dot1_0122.csv,NaN
3,1,AK,20XX,3,NaN,XO,1220,24751,32,871,1.0,X,1.0,2022.0,dot1_0122.csv,NaN
4,1,AK,20XX,3,NaN,XQ,1220,2773,1,130,1.0,X,1.0,2022.0,dot1_0122.csv,NaN

### Understanding the dataset

In [10]:
# Quick overview
TFDA_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10586812 entries, 0 to 10586811
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          int64
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         int64
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               float64
 11  CONTCODE         object
 12  MONTH            float64
 13  YEAR             float64
 14  source_file      object
 15  COMMODITY2       float64
dtypes: float64(4), int64(6), object(6)
memory usage: 1.3+ GB

In [14]:
# checking the shape of the dataset
TFDA_2022.shape

(10586812, 16)

In [16]:
# checking the various columns
TFDA_2022.columns

Index(['TRDTYPE', 'USASTATE', 'DEPE', 'DISAGMOT', 'MEXSTATE', 'CANPROV',
       'COUNTRY', 'VALUE', 'SHIPWT', 'FREIGHT_CHARGES', 'DF', 'CONTCODE',
       'MONTH', 'YEAR', 'source_file', 'COMMODITY2'],
      dtype='object')

### Data Cleaning

In [19]:
TFDA_2022['TRDTYPE'].unique()

array([1, 2], dtype=int64)

In [23]:
# See the distribution of values in TRDTYPE
TFDA_2022['TRDTYPE'].value_counts(dropna=False)

TRDTYPE
1    7014474
2    3572338
Name: count, dtype: int64

In [25]:
# Fill categorical columns with placeholders
TFDA_2022['USASTATE'] = TFDA_2022['USASTATE'].fillna('UNKNOWN')
TFDA_2022['DEPE'] = TFDA_2022['DEPE'].fillna('0000')
TFDA_2022['MEXSTATE'] = TFDA_2022['MEXSTATE'].fillna('OT')         # 'OT' = State Unknown
TFDA_2022['CANPROV'] = TFDA_2022['CANPROV'].fillna('OT')           # 'OT' = Province Unknown

In [27]:
# Isolate all TRDTYPE == 2 rows (protect them)
trdtype_2_rows = TFDA_2022[TFDA_2022['TRDTYPE'] == 2]

# Clean the rest of the dataset (excluding TRDTYPE == 2)
other_rows = TFDA_2022[TFDA_2022['TRDTYPE'] != 2]
cleaned_other_rows = other_rows.dropna(subset=['DEPE', 'COMMODITY2', 'DF'])

# Combine cleaned rows and protected TRDTYPE==2 rows
TFDA_2022_cleaned = pd.concat([cleaned_other_rows, trdtype_2_rows], ignore_index=True)

# Reset index
TFDA_2022_cleaned.reset_index(drop=True, inplace=True)

# Confirm TRDTYPE distribution
print(TFDA_2022_cleaned['TRDTYPE'].value_counts(dropna=False))

# reassign to main variable
TFDA_2022 = TFDA_2022_cleaned

TRDTYPE
1    5403484
2    3572338
Name: count, dtype: int64

In [29]:
# Fill numeric columns with zeros or neutral values
TFDA_2022['DF'] = TFDA_2022['DF'].fillna(0).astype(int)
TFDA_2022['COMMODITY2'] = TFDA_2022['COMMODITY2'].fillna(99).astype(int)

In [31]:
TFDA_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8975822 entries, 0 to 8975821
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          int64
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         int64
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               int32
 11  CONTCODE         object
 12  MONTH            float64
 13  YEAR             float64
 14  source_file      object
 15  COMMODITY2       int32
dtypes: float64(2), int32(2), int64(6), object(6)
memory usage: 1.0+ GB

In [33]:
TFDA_2022.duplicated().sum()

0

In [35]:
# checking for NaNs in the dataset
TFDA_2022.isnull().sum()

TRDTYPE                 0
USASTATE                0
DEPE                    0
DISAGMOT                0
MEXSTATE                0
CANPROV                 0
COUNTRY                 0
VALUE                   0
SHIPWT                  0
FREIGHT_CHARGES         0
DF                      0
CONTCODE                0
MONTH              212676
YEAR                    1
source_file             0
COMMODITY2              0
dtype: int64

In [37]:
# For example: keep rows where DEPE, COMMODITY2, and DF are not null
TFDA_2022.dropna(subset=['DEPE', 'COMMODITY2', 'DF', 'MONTH'], inplace=True)

In [39]:
# checking again for NaNs to be sure they have been worked on
TFDA_2022.isnull().sum()

TRDTYPE            0
USASTATE           0
DEPE               0
DISAGMOT           0
MEXSTATE           0
CANPROV            0
COUNTRY            0
VALUE              0
SHIPWT             0
FREIGHT_CHARGES    0
DF                 0
CONTCODE           0
MONTH              0
YEAR               1
source_file        0
COMMODITY2         0
dtype: int64

In [43]:
# Summary statistics
TFDA_2022.describe()

,TRDTYPE,DISAGMOT,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,MONTH,YEAR,COMMODITY2
count,8.763146e+06,8.763146e+06,8.763146e+06,8.763146e+06,8.763146e+06,8.763146e+06,8.763146e+06,8.763146e+06,8763145.0,8.763146e+06
mean,1.398418e+00,4.737910e+00,1.518885e+03,3.297910e+06,1.397515e+06,4.647272e+04,8.035710e-01,5.103625e+00,2022.0,6.153295e+01
std,4.895724e-01,1.234368e+00,3.831279e+02,4.339930e+07,4.467827e+07,1.198617e+06,7.495486e-01,3.076739e+00,0.0,2.931553e+01
min,1.000000e+00,1.000000e+00,1.220000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2022.0,1.000000e+00
25%,1.000000e+00,5.000000e+00,1.220000e+03,1.468600e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,2022.0,3.800000e+01
50%,1.000000e+00,5.000000e+00,1.220000e+03,7.596100e+04,1.000000e+00,3.780000e+02,1.000000e+00,5.000000e+00,2022.0,6.900000e+01
75%,2.000000e+00,5.000000e+00,2.010000e+03,4.622110e+05,7.153000e+03,3.531000e+03,1.000000e+00,7.000000e+00,2022.0,8.700000e+01
max,2.000000e+00,9.000000e+00,2.010000e+03,5.331094e+09,8.342996e+09,2.256902e+08,2.000000e+00,1.200000e+01,2022.0,9.900000e+01

In [45]:
TFDA_2022.dtypes

TRDTYPE              int64
USASTATE            object
DEPE                object
DISAGMOT             int64
MEXSTATE            object
CANPROV             object
COUNTRY              int64
VALUE                int64
SHIPWT               int64
FREIGHT_CHARGES      int64
DF                   int32
CONTCODE            object
MONTH              float64
YEAR               float64
source_file         object
COMMODITY2           int32
dtype: object

In [47]:
TFDA_2022.shape

(8763146, 16)

In [49]:
TFDA_2022.to_csv("TFDA_2022_cleaned.csv", index=False, encoding='utf-8-sig')